@if (RequiredTab && TabIndex ==-1)
{
    <div>Required Tab.  Rethink</div>
    return;
}
@{
    int x = 0;
    //cannot set this to null unfortunately at this moment.  otherwise, does not work server side.
    //_scrollreference = null;
}

<ManuelTextBoxComponent Placeholder="@Placeholder"
                        Style="Style"
                        TabIndex="@TabIndex"
                        @ref="_text"
                        />

@if (Virtualized == false)
{
    <div class="customscroll" style="width: @Style.Width; height: @Style.Height; background-color: @Style.ComboBackgroundColor ;">
        @foreach (var item in ItemList!)
        {
            int y;
            y = x;
            @if (y == _service!.ElementScrollTo)
            {
                <div @onclick="() => ElementClicked(y)"
                     @ondblclick="() => ElementDoubleClicked(y)"
                     style="@GetColorStyle(y)" @ref="_scrollreference"
                     onmouseover="this.style.background='@GetHoverColor(y)'"
                     onmouseout="this.style.background='@GetBackgroundColor(y)'">
                    <div style="@GetTextStyle()">
                        @item
                    </div>
                </div>
            }
            else if (y == 0)
            {
                <div @onclick="() => ElementClicked(y)"
                     @ondblclick="() => ElementDoubleClicked(y)"
                     style="@GetColorStyle(y)" @ref="_firstreference"
                     onmouseover="this.style.background='@GetHoverColor(y)'"
                     onmouseout="this.style.background='@GetBackgroundColor(y)'">
                    <div style="@GetTextStyle()">
                        @item
                    </div>
                </div>
            }
            else
            {
                <div @onclick="() => ElementClicked(y)" style="@GetColorStyle(y)"
                     @ondblclick="() => ElementDoubleClicked(y)"
                     onmouseover="this.style.background='@GetHoverColor(y)'"
                     onmouseout="this.style.background='@GetBackgroundColor(y)'">
                    <div style="@GetTextStyle()">
                        @item
                    </div>
                </div>
            }

            x++;
        }

    </div>

}
else
{
    <VirtualSimpleComponent Items="ItemList"
                            HasSolidBlackBorders="true"
                            ContainerWidth="@Style.Width"
                            ContainerHeight="@Style.Height"
                            LineHeight="@Style.LineHeight"
                            Context="item"
                            BackgroundColor="@Style.ComboBackgroundColor"
                            @ref="_virtual">
        <div @onclick="() => ElementClicked(item.Index)"
             @ondblclick="() => ElementDoubleClicked(item.Index)"
             style="@GetColorStyle(item.Index)"
             onmouseover="this.style.background='@GetHoverColor(item.Index)'"
             onmouseout="this.style.background='@GetBackgroundColor(item.Index)'"
             >
            <div style="@GetTextStyle()">
                @item.Element
            </div>
        </div>
        
    </VirtualSimpleComponent>


}